.inputfield-container {
  margin-left: 20px;
  margin-top: 30px;
}

.textinputfield-container {
  margin-left: 20px;
  margin-top: 30px;
}


.input-label {
  color: white;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
}

.signup-input {
  width: 90%;
  height: 30px;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
}

.signup-input::placeholder {
  color: transparent;
}
